@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Lato:wght@300;400&family=Outfit:wght@400;700&family=Overpass:wght@300;400;500;600&family=PT+Sans&family=Poppins&family=Rubik:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}

/* HEADER  */

.header{
    width: 100%;
    height: 70vh;
    background-image: url(/imagenes/bg-pattern-intro-desktop.svg);
    background-position: center;
    background-size: 1950px;
    background-color: hsl(356, 100%, 66%);
    border-bottom-left-radius: 60px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    padding: 3rem 5rem;
}

.header-left{
    display: flex;
}

.header-h1{
    color: #fff;
}

.header-ul{
    display: flex;
    padding: 5px 2rem;
}

.header-ul li{
    list-style: none;
    padding: 5px 20px;
    color: #fff;
    cursor: pointer;
}

.header-right{
    display: flex;
}

.header-h2{
    font-size: 16px;
    padding: 10px 1rem;
    color: #fff;
    cursor: pointer;
}

.header-h3{
    font-size: 16px;
    padding: 10px 3rem;
    border-radius: 30px;
    background: #fff;
    color:hsl(356, 74%, 50%);
    cursor: pointer;
}

/* SECTION 1 */

.section1{
    width: 100%;
}


.sec1h1{
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    color: #fff;
}

.sec1h2{
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    padding: 10px 0;
    color: #fff;
}

.sec1btns{
    width: 100%;
    text-align: center;
    padding: 2rem 0;
}

.btnleft{
    width: 118px;
    font-weight: 600;
    border: none;
    padding: 15px;
    border-radius: 30px;
    background: #fff;
    color:hsl(356, 74%, 50%);
    cursor: pointer;
}

.btnleft:hover{
    border: 1px solid #fff;
    background:hsl(356, 100%, 66%);
    transition: 1s;
}

.btnright{
    width: 118px;
    font-weight: 600;
    border: 1px solid #fff;
    padding: 15px;
    margin-left: 10px;
    border-radius: 30px;
    color: #fff;
    background:hsl(356, 100%, 66%);
    cursor: pointer;
}

.btnright:hover{
    border: 1px solid hsl(356, 74%, 50%);
    color: hsl(356, 74%, 50%);
    background: #fff;
}

/* SECTION 2 */

.section2{
    width: 100%;
    max-width: 1440px;
}

.sec2title{
    width: 100%;
    padding: 4rem 0;
}

.sec2titleh1{
    font-size: 34px;
    text-align: center;
    margin-top: 3rem;
    color: hsl(208, 49%, 24%);
}

.sec2container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 2rem;
}

.sec2h2,
.sec2h3{
    font-size: 25px;
    padding: 20px 5rem;
    color: hsl(208, 49%, 24%);
}

.sec2p1,
.sec2p2{
    font-size: 16px;
    color: hsl(207, 13%, 34%);
    padding: 0 5rem;
}

.sec2-img{
    width: 100%;
}

.sec2image{
    width: 605px;
    position: relative;
    left: 4rem;
    bottom: 8rem;  
}

/* SECTION 3 */

.section3{
    width: 100%;
    height: 65vh;
    border-top-right-radius: 70px;
    border-bottom-left-radius: 70px;
    background: hsl(237, 17%, 21%);
}

.sec3imgcontainer{
    width: 100%;
}

.bgcircle{
    width: 400px;
    height: 400px;
    position: relative;
    right: 1rem;
}

.sec3container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    bottom: 30rem;
}

.sec3text{
    width: 80%;
    height: 30vh;
    padding: 0 5px;
    line-height: 2;
    position: relative;
    top: 11rem;
}

.sec3h1{
    font-size: 30px;
    color: #fff;
    padding: 10px 0;
}

.sec3p{
    font-size: 16px;
    color: #d6d5d5;
}

/* SECTION 4 */

.section4{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 6rem;
    padding-right: 15rem;
    border: 1px solid greenyellow;
}

.sec4-img{
    width: 800px;
    height: 650px;
    position: relative;
    right: 14rem;
}

.sec4textcontainer{
    width: 640px;
    height: 500px;
    padding-top: 3rem;
    position: relative;
    top: 6rem;
    right: 13rem;
}

.sec4h3{
    position: relative;
    top: 3rem;
}

.sec4p{
    position: relative;
    top: 3rem;
}
