@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Lato:wght@300;400&family=Outfit:wght@400;700&family=Overpass:wght@300;400;500;600&family=PT+Sans&family=Poppins&family=Rubik:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
}